.Footer {
  background-color: rgb(33, 33, 33);
  color: white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 26px 0;
  p {
    font-size: 1.4rem;
  }
}

.cart {
  width: 95px;
  right: 0px;
  margin: 0px;
  padding: 15px;
  display: flex;
  z-index: 999;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  top: calc(110px + 30%);
  flex-direction: column;
  border-radius: 3px 0px 0px 3px;
  color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 75%) 0px 0px 16px -1px;
  background-color: rgb(47, 51, 58);
  font-weight: 600;
  .icon {
    height: 20px;
    font-size: 20px;
    margin-bottom: 3px;
    color: rgb(255, 112, 4);
  }
  .counter {
    font-size: 1.4rem;
  }
  .cost {
    width: 65px;
    height: 25px;
    padding: 0px 5px;
    margin-top: 5px;
    line-height: 25px;
    color: rgb(255, 112, 4);
    border-radius: 3px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
  }
}
